.footer {
    background-color: #FD8D14;
    font-size: large;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-weight: bold;

    /* text-align: center; */
    /* height: 120px; */
    /* padding: 10px; */
    /* position: fixed; */
    /* bottom: 0; */

}