.navbar {
    background-color: #FD8D14;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo {
    font-size: 1.7rem;
    font-weight: bold;
}